body {
	text-align: center;
	background: url("../images/noisy_grid/noisy_grid_@2X.png");

	
}

h1 {
	font-size: 135px;
	color: #019BAD;
	font-family: 'Yellowtail', cursive;
}

#job-title {
	width:30%;
	text-align: center;
	margin-left: 250px;
}

#row1 {
	font-family: "Arial Black";
	margin-top: -15px;
}
.panel {
	width:30%;
	margin-left: 250px;
}

.jumbotron {
	padding: 20px;
	background: red;
	font-family: "Brush Script MT", cursive;
	font-size: 18px;
	
	
}
